/* --- Basics --- */
.title {
  font-size: 7.0rem;
}

.sub-title {
  color: gray;
  font-size: 4.5rem;
}

.center {
  text-align: center;
}

/* --- Layout --- */
.wrap {
  margin: 0 auto;
}

/* --- Blinking cursor --- */
.ityped-cursor {
	/* cursor color */
	color: gray;
	font-size: 4.5rem;
	opacity: 1;
	-webkit-animation: blink 0.3s infinite;
	-moz-animation: blink 0.3s infinite;
	animation: blink 0.3s infinite;
	animation-direction: alternate;
}
@keyframes blink {
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	100% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	100% {
		opacity: 0;
	}
}