/* --- HEADER PROPS --- */
h2 {
  font-size: 7.0rem !important;
  font-weight: 600 !important;
}

/* --- HEADRER SECTION --- */
.ityped {
  color: gray;
  font-size: 4.5rem;
}

/* --- LAYOUT --- */
body {
  margin: 0px;
  padding: 0px;
}

.sec-title {
  margin-left: 5px;
}

.bg-info {
  background-size: cover;
  background-position: center;
  background-color: gold;
}

/* --- Flexbox --- */
.flex-box {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* column */
  &.flex-column {
    flex-direction: column;
  }

  /* row */
  .flex-row {
    flex-direction: row;
  }

}

/* --- SVG --- */
svg {
  width: 400px;
  height: 200px;
}

.svg-main-title-1 {
  font-size: 8rem;
  font-weight: 600;
  fill: none;
  stroke: none;
  stroke-dasharray: 400% 400%;
  stroke-width: 1.5px;
  -webkit-animation: stroke-offset-1 5s linear 1s forwards;
          animation: stroke-offset-1 5s linear 1s forwards;
}

.svg-main-title-2 {
  font-size: 12rem;
  font-weight: 600;
  fill: none;
  stroke: none;
  stroke-dasharray: 450% 450%;
  stroke-width: 1.5px;
  -webkit-animation: stroke-offset-2 5s linear 1s forwards;
          animation: stroke-offset-2 5s linear 1s forwards;
}

@-webkit-keyframes stroke-offset-1 {
  0% {
    stroke-dashoffset: 400%;
    stroke: black;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: black;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: black;
    fill: none;
  }
}

@keyframes stroke-offset-1 {
  0% {
    stroke-dashoffset: 400%;
    stroke: black;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: black;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: black;
    fill: none;
  }
}

@-webkit-keyframes stroke-offset-2 {
  0% {
    stroke-dashoffset: 450%;
    stroke: black;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: black;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: black;
    fill: black;
  }
}

@keyframes stroke-offset-2 {
  0% {
    stroke-dashoffset: 450%;
    stroke: black;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: black;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: black;
    fill: black;
  }
}

/* --- Blinking cursor --- */
.ityped-cursor {
  color: gray;
  font-size: 4.5rem;
  opacity: 1;
  -webkit-animation: blink 0.6s infinite;
  -moz-animation: blink 0.6s infinite;
  animation: blink 0.6s infinite;
  animation-direction: alternate;
}
@keyframes blink {
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes blink {
	100% {
		opacity: 0;
	}
}
@-moz-keyframes blink {
	100% {
		opacity: 0;
	}
}