/* --- Variables --- */
/* --- Common Properties --- */
h2 span {
  font-weight: 600 !important;
  margin-top: 80px !important; }
  @media (max-width: 414px) {
    h2 span {
      font-size: 6rem; } }
  @media (min-width: 415px) {
    h2 span {
      font-size: 9rem; } }

/* --- Header --- */
#top-nav {
  display: block;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #000000;
  border-bottom: solid 2px #F7F9F9;
  opacity: 0.9;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #top-nav nav {
    color: #F7F9F9;
    text-align: center;
    visibility: hidden; }
    #top-nav nav span {
      font-size: 5rem;
      font-weight: 600; }
    #top-nav nav ul li {
      display: block;
      list-style: none;
      font-size: 3rem;
      -webkit-animation-duration: 0.6s;
              animation-duration: 0.6s;
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
      @media (min-width: 1060px) {
        #top-nav nav ul li:hover {
          content: "";
          background-color: #424242; } }
      #top-nav nav ul li a {
        display: block;
        color: #F7F9F9;
        text-decoration: none; }
  #top-nav.opened {
    height: 330px; }
    #top-nav.opened nav {
      visibility: visible; }

#menu-button {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3; }
  @media (min-width: 1060px) {
    #menu-button:hover span:first-child {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px); }
    #menu-button:hover span:last-child {
      -webkit-transform: translateY(4px);
              transform: translateY(4px); } }
  #menu-button span {
    display: block;
    width: 40px;
    height: 2px;
    background: #F7F9F9;
    position: absolute;
    left: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    #menu-button span:first-child {
      top: 10px; }
    #menu-button span:nth-child(2) {
      margin-top: -1px;
      top: 50%; }
    #menu-button span:last-child {
      bottom: 10px; }
  #menu-button.active span:first-child {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg); }
  #menu-button.active span:nth-child(2) {
    opacity: 0; }
  #menu-button.active span:last-child {
    -webkit-transform: translateY(-9px) rotate(-45deg);
            transform: translateY(-9px) rotate(-45deg); }

/* --- Body --- */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(./images/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0; }
  @media screen and (max-width: 414px) {
    body {
      background-image: none;
      background-color: #000000; } }
  body section {
    color: #F7F9F9; }

.sec-contents, .sec-contents-bio, .sec-contents-skill {
  text-align: center;
  /* title */ }
  @media (max-width: 414px) {
    .sec-contents, .sec-contents-bio, .sec-contents-skill {
      font-size: 2rem; } }
  @media (min-width: 415px) {
    .sec-contents, .sec-contents-bio, .sec-contents-skill {
      font-size: 3rem; } }
  .sec-contents div, .sec-contents-bio div, .sec-contents-skill div {
    margin-bottom: 50px; }
  .sec-contents p.title, .sec-contents-bio p.title, .sec-contents-skill p.title {
    font-weight: bold;
    position: relative;
    display: inline-block; }
    @media (max-width: 414px) {
      .sec-contents p.title, .sec-contents-bio p.title, .sec-contents-skill p.title {
        font-size: 3rem; } }
    @media (min-width: 415px) {
      .sec-contents p.title, .sec-contents-bio p.title, .sec-contents-skill p.title {
        font-size: 4rem; } }
  .sec-contents p::after, .sec-contents-bio p::after, .sec-contents-skill p::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #F7F9F9;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s; }
  .sec-contents p:hover::after, .sec-contents-bio p:hover::after, .sec-contents-skill p:hover::after {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  .sec-contents span, .sec-contents-bio span, .sec-contents-skill span {
    display: block; }

@media (max-width: 414px) {
  .sec-contents-bio table th {
    font-size: 2.5rem; } }

@media (min-width: 415px) {
  .sec-contents-bio table th {
    font-size: 3rem; } }

@media (max-width: 414px) {
  .sec-contents-bio table td {
    font-size: 2rem; } }

@media (min-width: 415px) {
  .sec-contents-bio table td {
    font-size: 2.5rem; } }

.sec-contents-skill span {
  margin-bottom: 10px; }
  @media (max-width: 414px) {
    .sec-contents-skill span {
      font-size: 5.5rem; } }
  @media (min-width: 415px) {
    .sec-contents-skill span {
      font-size: 6.5rem; } }

#go-to-top {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #F7F9F9;
  z-index: 3; }

/* --- Flexbox --- */
.flex-box {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .flex-box.center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .flex-box.top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
  .flex-box.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .flex-box .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

/* --- SVG --- */
@media (max-width: 414px) {
  svg {
    width: 300px;
    height: 150px; }
    svg .svg-main-title-mobile-1 {
      font-size: 5rem;
      font-weight: 600;
      fill: none;
      stroke: none;
      stroke-dasharray: 400% 400%;
      stroke-width: 1.5px;
      -webkit-animation: stroke-offset-1 3s linear 1s forwards;
              animation: stroke-offset-1 3s linear 1s forwards; }
    svg .svg-main-title-mobile-2 {
      font-size: 8rem;
      font-weight: 600;
      fill: none;
      stroke: none;
      stroke-dasharray: 450% 450%;
      stroke-width: 1.5px;
      -webkit-animation: stroke-offset-2 3s linear 1s forwards;
              animation: stroke-offset-2 3s linear 1s forwards; }
    svg .svg-main-title-1,
    svg .svg-main-title-2 {
      visibility: hidden; } }

@media (min-width: 415px) {
  svg {
    width: 400px;
    height: 200px; }
    svg .svg-main-title-1 {
      font-size: 8rem;
      font-weight: 600;
      fill: none;
      stroke: none;
      stroke-dasharray: 400% 400%;
      stroke-width: 1.5px;
      -webkit-animation: stroke-offset-1 5s linear 1s forwards;
              animation: stroke-offset-1 5s linear 1s forwards; }
    svg .svg-main-title-2 {
      font-size: 12rem;
      font-weight: 600;
      fill: none;
      stroke: none;
      stroke-dasharray: 450% 450%;
      stroke-width: 1.5px;
      -webkit-animation: stroke-offset-2 5s linear 1s forwards;
              animation: stroke-offset-2 5s linear 1s forwards; }
    svg .svg-main-title-mobile-1,
    svg .svg-main-title-mobile-2 {
      visibility: hidden; } }

@-webkit-keyframes stroke-offset-1 {
  0% {
    stroke-dashoffset: 400%;
    stroke: white;
    fill: transparent; }
  50% {
    fill: transparent;
    stroke: white; }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: none; } }

@keyframes stroke-offset-1 {
  0% {
    stroke-dashoffset: 400%;
    stroke: white;
    fill: transparent; }
  50% {
    fill: transparent;
    stroke: white; }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: none; } }

@-webkit-keyframes stroke-offset-2 {
  0% {
    stroke-dashoffset: 450%;
    stroke: white;
    fill: transparent; }
  50% {
    fill: transparent;
    stroke: white; }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: white; } }

@keyframes stroke-offset-2 {
  0% {
    stroke-dashoffset: 450%;
    stroke: white;
    fill: transparent; }
  50% {
    fill: transparent;
    stroke: white; }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: white; } }

/* --- iTyped --- */
.ityped {
  color: #F7F9F9; }
  @media (max-width: 414px) {
    .ityped {
      font-size: 2.5rem; } }
  @media (min-width: 415px) {
    .ityped {
      font-size: 4.5rem; } }

.ityped-cursor {
  color: #F7F9F9;
  opacity: 1;
  -webkit-animation: blink 0.6s infinite;
          animation: blink 0.6s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate; }
  @media (max-width: 414px) {
    .ityped-cursor {
      font-size: 2.5rem; } }
  @media (min-width: 415px) {
    .ityped-cursor {
      font-size: 4.5rem; } }

@-webkit-keyframes blink {
  100% {
    opacity: 0; } }

@keyframes blink {
  100% {
    opacity: 0; } }
