/* --- Import --- */
@import "./animate.min.css";
@import "./skeleton.css";
@import "./devicons.min.css";

/* --- Variables --- */
$white:     #F7F9F9;
$black:     #000000;
$dark-gray: #424242;

/* --- Common Properties --- */
h2 {
  font-size: 9.0rem !important;
  font-weight: 600 !important;
  margin-top: 80px !important;
}

/* --- Header --- */
#top-nav {
  display: block;
  position: fixed;
  width: 100vw;
  height: 60px;
  background-color: #000000;
  border-bottom: solid 2px $white;
  opacity: 0.9;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s;

  // nav
  nav {
    color: $white;
    text-align: center;
    visibility: hidden;
    span {
      font-size: 5rem;
      font-weight: 600;
      &::before, &::after {
        content: "";
      }
    }
    ul {
      li {
        display: block;
        list-style: none;
        font-size: 3rem;
        animation-duration: 0.6s;
        animation-delay: 0.1s;
        &:hover {
          content: "";
          background-color: $dark-gray;
        }
        a {
          display: block;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  // open nav
  &.opened {
    height: 330px;

    nav {
      visibility: visible;
    }
  }
}

#menu-button {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 40px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 3;

  &:hover {
    span {
      &:first-child {
        transform: translateY(-4px);
      }
      &:last-child {
        transform: translateY(4px);
      }
    }
  }

  span {
    display: block;
    width: 40px;
    height: 2px;
    background: $white;
    position: absolute;
    left: 5px;
    transition: all 0.2s;
    &:first-child {
      top: 10px;
    }
    &:nth-child(2) {
      margin-top: -1px;
      top: 50%;
    }
    &:last-child {
      bottom: 10px;
    }
  }

  &.active {
    span {
      &:first-child {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}

/* --- Body --- */
.viewport {
  background: url(./images/portfolio-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  section {
    color: $white;
  }
}

.sec-title {
  margin-left: 5px;
}

.sec-contents {
  font-size: 3.0rem;
  text-align: center;

  div {
    margin-bottom: 50px;
  }

  /* title */
  p {
    &.title {
      font-size: 4rem;
      font-weight: bold;
      position: relative;
      display: inline-block;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      background: $white;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform .3s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }

  span {
    display: block;
  }
}

.sec-contents-bio {
  @extend .sec-contents;
  table {
    th {
      font-size: 3rem;
    }
    td {
      font-size: 2.5rem;
    }
  }
}

.sec-contents-skill {
  @extend .sec-contents;
  span {
    margin-bottom: 10px;
    font-size: 6.5rem;
  }
}

.sec-contents-contact {
  @extend .sec-contents;
  text-align: left;

  button {
    width: 100% !important;
  }
}

#go-to-top {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: $white;
  z-index: 3;
}

/* --- Flexbox --- */
.flex-box {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;

  &.center {
    justify-content: center;
  }

  &.top {
    justify-content: start;
  }

  &.flex-column {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

}

/* --- SVG --- */
svg {
  width: 400px;
  height: 200px;
}

.svg-main-title-1 {
  font-size: 8rem;
  font-weight: 600;
  fill: none;
  stroke: none;
  stroke-dasharray: 400% 400%;
  stroke-width: 1.5px;
  animation: stroke-offset-1 5s linear 1s forwards;
}

.svg-main-title-2 {
  font-size: 12rem;
  font-weight: 600;
  fill: none;
  stroke: none;
  stroke-dasharray: 450% 450%;
  stroke-width: 1.5px;
  animation: stroke-offset-2 5s linear 1s forwards;
}

@keyframes stroke-offset-1 {
  0% {
    stroke-dashoffset: 400%;
    stroke: white;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: white;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: none;
  }
}

@keyframes stroke-offset-2 {
  0% {
    stroke-dashoffset: 450%;
    stroke: white;
    fill:transparent;
  }
  50% {
    fill:transparent;
    stroke: white;
  }
  100% {
    stroke-dashoffset: 0%;
    stroke: white;
    fill: white;
  }
}

/* --- iTyped --- */
.ityped {
  color: $white;
  font-size: 4.5rem;
}

.ityped-cursor {
  color: $white;
  font-size: 4.5rem;
  opacity: 1;
  animation: blink 0.6s infinite;
  animation-direction: alternate;
}
@keyframes blink {
	100% {
		opacity: 0;
	}
}