/* --- Variables --- */
$white:     #F7F9F9;
$black:     #000000;
$dark-gray: #424242;

#go-to-top {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: $white;
  z-index: 3;
}